@page "/search"
@using DataEntities
@using Store.Services
@inject ProductService ProductService
@inject IConfiguration Configuration
@attribute [StreamRendering(true)]

<PageTitle>Search Products</PageTitle>

<h1>Search Products</h1>

<p>Use AI to search some of our amazing outdoor products that you can purchase.</p>

<!-- add a label , a textbox and a button to perform a smart search -->
<div class="form-group">
    <label for="search">Search:</label>
    <input css type="text" id="search" class="form-control" @bind="searchTerm" />
    <button id="btnSearch" class="btn btn-primary" @onclick="OnPost">Search 32</button>

    <p>@aiResponse</p>
</div>

@code {
    private string searchTerm;
    private string aiResponse = "This was the first request for this page. " + DateTime.Now.ToString("HH:mm:ss");   

    private async Task OnPost()
    {
        await Task.Delay(500);
        aiResponse = await ProductService.AISearch(searchTerm);
    }
}
